:root {
  /* primary colors */
  --red: hsla(0, 100%, 74%, 0.7);
  --green: hsl(154, 59%, 51%);
  /* accent colors */
  --blue: hsl(248, 32%, 49%);
  /* neutral colors */
  --darkBlue: hsl(249, 10%, 26%);
  --grayBlue: hsl(246, 25%, 77%); }

body {
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  padding-top: 15%;
  width: 80%;
  background: url(/app/assets/images/bg-intro-desktop.png); }

.main {
  display: flex;
  height: 100vh; }

.info {
  width: 50%;
  display: block;
  float: left;
  justify-content: center;
  align-content: center; }

h1 {
  font-size: 36px;
  font-weight: 700; }

.info p {
  font-size: 16px; }

.form {
  width: 50%;
  display: block;
  float: left;
  justify-content: center;
  align-items: center; }

.trial-button {
  background-color: var(--blue);
  margin-bottom: 20px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  width: 100%; }

button {
  color: white;
  padding: 15px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .1rem;
  border: none;
  border-radius: 8px; }

.claim {
  width: 90%;
  background-color: var(--green);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: uppercase; }

.form p {
  font-size: 10px;
  color: var(--grayBlue); }

.form p span {
  font-weight: 700;
  color: var(--red); }

.form-white {
  background-color: aquamarine;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* footer styles */
.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

@media only screen and (max-width: 375px) {
  /* mobile styles based on style-guide doc */ }
