:root {
    /* primary colors */
    --red: hsla(0, 100%, 74%, 0.7);
    --green: hsl(154, 59%, 51%);
    /* accent colors */
    --blue: hsl(248, 32%, 49%);
    /* neutral colors */
    --darkBlue: hsl(249, 10%, 26%);
    --grayBlue: hsl(246, 25%, 77%);
}

body {
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    padding-top: 10%;
    width: 80%;
    background-color: var(--red);
}

.main {
    display: flex;
    height: auto;
    justify-content: center;
    align-content: center;
}

.info {
    width: 50%;
    max-width: 500px;
    display: grid;
    float: left;
    justify-content: center;
    align-content: center;
    color: white;
    letter-spacing: .09rem;
    padding-right: 20px;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 3.25rem;
}

.info p {
    font-size: 14px;
    font-weight: 400;
}

.form {
    width: 50%;
    max-width: 500px;
    display: block;
    float: left;
    justify-content: center;
    align-items: center;
}

.trial-button {
    background-color: var(--blue);
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
}

button {
    color: white;
    padding: 15px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .1rem;
    border: none;
    border-radius: 8px;
}

.claim {
    width: 100%;
    background-color: var(--green);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
    margin-top: 10px;
}

.form p {
    font-size: 10px;
    color: var(--grayBlue);
    text-align: center;
}

.form p span {
    font-weight: 700;
    color: var(--red);
}

.form-white {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
}

.form-styling {
    width: 100%;
    border: 1px solid var(--grayBlue);
    border-radius: 5px;
    height: 40px;
}


/* footer styles */
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 50px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 375px) {
    /* mobile styles based on style-guide doc */

}