:root {
    /* primary colors */
    --red: hsla(0, 100%, 74%, 0.7);
    --green: hsl(154, 59%, 51%);
    /* accent colors */
    --blue: hsl(248, 32%, 49%);
    /* neutral colors */
    --darkBlue: hsl(249, 10%, 26%);
    --grayBlue: hsl(246, 25%, 77%);
}

html {
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

body {
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    padding-top: 10%;
    width: 80%;
    background: url("/app/assets/images/bg-intro-desktop.png") no-repeat center fixed;
    background-size: cover;
    background-color: var(--red);
}

.main {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "intro signup";
    justify-content: center;
    align-items: center;
}

.info {
    grid-area: intro;
    justify-content: center;
    align-content: center;
    color: white;
    letter-spacing: .07rem;
    padding-right: 20px;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 3.25rem;
}

.info p {
    font-size: 14px;
    font-weight: 400;
}

.form {
    grid-area: signup;
}

.trial-button {
    background-color: var(--blue);
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.19);
    padding: 18px;
}

button {
    color: white;
    padding: 15px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.claim {
    width: 100%;
    background-color: var(--green);
    text-transform: uppercase;
    margin-top: 10px;;
    box-shadow: 0 4px 2px 0 hsl(154, 57%, 38%);
}

.claim:hover {
    background-color: hsla(154, 50%, 58%, 0.6);
    box-shadow: 0 4px 2px 0 hsla(154, 57%, 38%, 0.6);
}

.form p {
    font-size: 10px;
    color: var(--grayBlue);
    text-align: center;
    margin-top: 15px;
}

.form p span {
    font-weight: 700;
    color: var(--red);
}

.form-white {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    position: relative;
}

.form-row {
  position: relative;
  margin-bottom: 18px;
}

input[type=text] {
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    padding: 12px 25px;
    margin: 6px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--grayBlue);
    outline: none;
  }

  input[type=text]:focus {
    border: 1px solid var(--darkBlue);
  }

  /* validation error styles */
  .warning-icon {
      display: none;
      position: absolute;
      top: 15px;
      right: 15px;
      align-items: center;
  }

  .warning-message {
      display: none;
      color: var(--red);
      font-size: 12px;
      text-align: right;
      font-style: italic;
  }

  .form-input:invalid {
      box-shadow: none;
  }

  .submitted:invalid + .warning-icon {
      display: block;
  }

  .submitted:invalid ~ .warning-message {
      display: block;
  }


/* footer styles */
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 50px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 300px) and (max-width: 667px) {
    /* mobile styles based on style-guide doc */
    body {
        background: url("/app/assets/images/bg-intro-mobile.png");
        background-color: var(--red);
      }
    
    .main {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "intro"
        "signup";
        margin-top: 50px;
    }

    .info {
        grid-area: intro;
        text-align: center;
        padding: 0;
    }

    h1 {
        font-size: 30px;
        line-height: 2.25rem;
    }

    .info p {
        font-size: 12px;
        line-height: inherit;
    }

    .form {
        grid-area: signup;
    }

    button {
        line-height: 18px;
    }

    .claim {
        padding: 15px 10px;
    }

}